spring:
  application:
    name: car-info-service
  config:
    activate:
      on-profile:
        - default
    import: optional:configserver:http://config-server:8888
  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: false
      retry:
        maxAttempts: 20