spring:
  application:
    name: car-info-service
  config:
    activate:
      on-profile:
        - local
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
      retry:
        maxAttempts: 20